.app {
  background-color: #f1f1f1;
  /* text-align: center; */
  min-height: 100vh;
}
.app-header {
  width: 50%;
  text-align: left;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 600;
}
.app-search {
  width: 50%;
  height: 80px;
  margin: 2rem auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ffffff;
}
.app-search-form-label {
  display: block;
  margin: 3px;
  text-align: left;
  font-size: small;
}
.app-search-form-input {
  width: 70%;
  height: 40px;
  margin: 3px;

}
.app-search-form-button {
  width: 100px;
  height: 45px;
  margin: 3px;

}


